body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #2c3e50;
    color: #ecf0f1;
}

h1 {
    text-align: center;
    color: #ecf0f1;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#login-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #34495e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#login-container label {
    display: block;
    margin-bottom: 5px;
    color: #ecf0f1;
}

#login-container input[type="text"],
#login-container input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

#login-container .password-container {
    position: relative;
}

#login-container .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

#login-container .remember-me-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#login-container .remember-me-container input[type="checkbox"] {
    margin-right: 5px;
}

#login-container button {
    width: 100%;
    padding: 10px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login-container button:hover {
    background-color: #2ecc71;
}

#language-selector {
    margin-top: 20px;
}

#language-selector button {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#language-selector button:hover {
    background-color: #2980b9;
}
