body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #2c3e50;
    color: #ecf0f1;
}

h1 {
    text-align: center;
    color: #ecf0f1;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#login-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #34495e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#login-container h1 {
    margin-bottom: 20px;
}

#login-container label {
    display: block;
    margin-bottom: 5px;
    color: #ecf0f1;
}

#login-container input[type="text"],
#login-container input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.password-container {
    position: relative;
}

.password-container .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#login-container button {
    width: 100%;
    padding: 10px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login-container button:hover {
    background-color: #2ecc71;
}

.remember-me-container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
}

.remember-me-label {
    margin-left: 5px;
    color: #ecf0f1;
}

#login-container button:last-child {
    margin-top: 10px;
    background-color: #3498db;
    border: none;
}

#login-container button:last-child:hover {
    background-color: #2980b9;
}
